circleci:
  pipelineId: ""
  workflowId: ""
  jobNumber: ""
  project_id: "8dbb4c7a-8584-43b3-8c8f-41cc33ce243e"

imagePullSecrets:
  - name: regcred

nameOverride: "go-api-service"
secretName: "go-api-secrets"

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 500m
    memory: 512Mi

global:
  security:
    allowInsecureImages: true

# postgresql:
#   postgresqlUsername: postgres
#   postgresqlDatabase: beemoviebot
#   service:
#     type: ClusterIP
#   secretName: go-api-service-postgresql
#   statefulset:
#     fullnameOverride: postgresql-0
#   image:  
#     registry: docker.io
#     repository: bitnamilegacy/postgresql
#     tag: 17.5.0-debian-12-r20

database:
  host: "ubuntu-postgresql-k8s-server.logangodsey.com"
  port: 5432
  name: beemoviebot
  user: beemoviebot_user
  passwordSecret:
    name: go-api-secrets
    key: POSTGRES_PASSWORD

serviceAccount:
  create: true

service:
  type: ClusterIP
  port: 8080
  healthport: 8081
  name: go-api-service

ingress:
  enabled: false

autoscaling:
  enabled: false
