version: 2.1

orbs:
  go: circleci/go@3.0.3

executors:
  machine_medium:
    machine: true
    resource_class: logan/machine_medium
  deploy:
    resource_class: logan/small
    docker:
      - image: cimg/deploy:2025.01.1
  test:
    resource_class: logan/medium_plus
    docker:
      - image: cimg/go:1.26
      - image: postgres:18.2
        user: "postgres"
        environment:
          POSTGRES_DB: beemoviebot
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
  lint:
    docker:
      - image: cimg/go:1.26
    resource_class: logan/medium_plus
  build:
    docker:
      - image: cimg/go:1.26
    resource_class: logan/large

commands:
  get-tag:
    steps:
      - run:
          name: Create Tag Environment Variable
          command: |
              SHORT_SHA=${CIRCLE_SHA1:0:7}
              TAG="1.0-<< pipeline.number >>-${SHORT_SHA}"

              echo "export TAG='$TAG'" >> "$BASH_ENV"
              source $BASH_ENV
              echo $TAG
            
jobs:
  build-binary:
    executor: build
    steps:
      - checkout
      - go/with-cache:
          mod: true
          steps:
            - run:
                name: Build binary
                command: CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o api-service ./cmd/main.go
      - persist_to_workspace:          
          root: .
          paths:
            - api-service
  build-image:
    executor: machine_medium
    steps:
      - checkout
      - attach_workspace:
          at: .
      - get-tag
      - run:
          name: Docker Build
          command: |
            docker build \
              -t imlogang/go-api:$TAG \
              .
      - run: 
          name: Install Trivy
          command: curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sudo sh -s -- -b /usr/local/bin v0.69.1
      - run:
          name: scan image
          command: trivy image imlogang/go-api:$TAG
      - run:
          name: Docker Login
          command: docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
      - run:
          name: Docker Push
          command: docker push imlogang/go-api:$TAG

  deploy-api:
    executor: deploy
    steps:
      - checkout
      - get-tag
      - run:
          name: Helm Upgrade
          command: |
            helm upgrade --install --debug go-api-service ./deploy --set image.tag=${TAG} --set circleci.pipelineId=<< pipeline.id >> --set circleci.workflowId=${CIRCLE_WORKFLOW_ID} --set-string circleci.jobNumber=${CIRCLE_BUILD_NUM} -n go-api -f values.yaml
      - run:
          name: Watch release
          command: |
            circleci run release plan --environment-name="Microk8s Cluster" --component-name="go-api-service" --target-version="${TAG}" --namespace="go-api" go-api-service

  release-go-api-service:
    type: release
    plan_name: go-api-service

  test:
    executor: test
    environment:
      POSTGRES_HOST: localhost
      POSTGRES_PORT: 5432
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: beemoviebot
      POSTGRES_INITDB_ARGS: "-c log_statement=all -c log_destination=stderr -c logging_collector=off"
    resource_class: logan/medium_plus #cci-ignore
    steps:
      - checkout
      - run:
          name: Wait for DB
          command: |
            until pg_isready -h localhost -p 5432; do sleep 1; done
      - run:
          name: Setup test database
          command: |
            export PGPASSWORD=test
            psql \
              -h localhost \
              -p 5432 \
              -U test \
              -d beemoviebot \
              -c "CREATE TABLE IF NOT EXISTS pokemon_scores (
                    id SERIAL PRIMARY KEY,
                    username TEXT NOT NULL UNIQUE,
                    score INTEGER NOT NULL DEFAULT 0
                  );"
      - go/with-cache:
          mod: true
          steps:
            - run:
                name: run all tests
                command: ./do run_tests_ci
      - store_test_results:
          path: cmd/junit.xml

  lint:
    executor: lint
    steps:
      - checkout
      - go/with-cache:
          mod: true
          steps:
            - run:
                name: lint code
                command: ./do lint

workflows:
  build-and-deploy-api-service:
    jobs:
      - test
      - lint
      - build-binary:
          requires:
            - test
            - lint
      - build-image:
          context:
            - docker_stuff
          requires:
            - build-binary
          filters:
            branches:
              only:
                - main
      - deploy-api:
          requires:
            - build-image
          serial-group: << pipeline.project.slug >>/deploy-group
          filters:
            branches:
              only:
                - main
      - release-go-api-service:
          requires:
            - deploy-api
          filters:
            branches:
              only:
                - main