version: 2.1

orbs:
  go: circleci/go@3.0.3

executors:
  machine_medium:
    machine: true
    resource_class: logan/machine_medium
  deploy:
    resource_class: logan/small
    docker:
      - image: cimg/deploy:2025.01.1
  test:
    resource_class: logan/medium_plus
    docker:
      - image: cimg/go:1.25
      - image: postgres:17.7
        user: "postgres"
        environment:
          POSTGRES_DB: beemoviebot
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
  lint:
    docker:
      - image: cimg/go:1.25
    resource_class: logan/small

jobs:
  build-image:
    executor: machine_medium
    steps:
      - checkout
      - run:
          name: Docker Build
          command: |
            export CIRCLE_SHA1=$(echo ${CIRCLE_SHA1} | cut -c 1-5)
            docker build --build-arg DOCKER_TAG=$CIRCLE_SHA1 -t imlogang/go-api:$CIRCLE_SHA1 .
      - run: 
          name: install trivy
          command: curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sudo sh -s -- -b /usr/local/bin v0.67.0
      - run:
          name: scan image
          command: |
            export CIRCLE_SHA1=$(echo ${CIRCLE_SHA1} | cut -c 1-5)
            trivy image imlogang/go-api:$CIRCLE_SHA1
      - run:
          name: Docker Login
          command: docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
      - run:
          name: Docker Push
          command: |
            export CIRCLE_SHA1=$(echo ${CIRCLE_SHA1} | cut -c 1-5)
            docker push imlogang/go-api:$CIRCLE_SHA1

  deploy-api:
    executor: deploy
    steps:
      - checkout
      - run:
          name: Helm Upgrade
          command: |
            export CIRCLE_SHA2=$(echo "${CIRCLE_SHA1}" | cut -c 1-5)
            helm upgrade --install --debug go-api-service ./deploy --set image.tag=${CIRCLE_SHA2} --set circleci.pipelineId=<< pipeline.id >> --set circleci.workflowId=${CIRCLE_WORKFLOW_ID} --set circleci.jobNumber=${CIRCLE_BUILD_NUM} -n go-api -f values.yaml
      - run:
          name: Watch release
          command: |
            export CIRCLE_SHA2=$(echo "${CIRCLE_SHA1}" | cut -c 1-5)
            circleci run release plan --environment-name="Microk8s Cluster" --component-name="go-api-service" --target-version="${CIRCLE_SHA2}" --namespace="go-api" go-api-service

  release-go-api-service:
    type: release
    plan_name: go-api-service

  test:
    executor: test
    environment:
      POSTGRES_HOST: localhost
      POSTGRES_PORT: 5432
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: beemoviebot
      POSTGRES_INITDB_ARGS: "-c log_statement=all -c log_destination=stderr -c logging_collector=off"
    parallelism: 1
    resource_class: logan/medium_plus #cci-ignore
    steps:
      - checkout
      - run:
          name: Wait for DB
          command: |
            until pg_isready -h localhost -p 5432; do sleep 1; done
      - run:
          name: Setup test database
          command: |
            export PGPASSWORD=test
            psql \
              -h postgres \
              -p 5432 \
              -U test \
              -d beemoviebot \
              -c "CREATE TABLE IF NOT EXISTS pokemon_scores (
                    id SERIAL PRIMARY KEY,
                    username TEXT NOT NULL UNIQUE,
                    score INTEGER NOT NULL DEFAULT 0
                  );"
      - go/with-cache:
          steps:
            - run:
                name: run all tests
                command: ./do run_tests_ci
      - store_test_results:
          path: cmd/junit.xml

  lint:
    executor: lint
    steps:
      - checkout
      - go/with-cache:
          steps:
            - run:
                name: lint code
                command: ./do lint

workflows:
  build-and-deploy-api-service:
    jobs:
      - test
      - lint
      - build-image:
          context:
            - docker_stuff
          requires:
            - test
            - lint
          filters:
            branches:
              only:
                - main
      - deploy-api:
          requires:
            - build-image
          serial-group: << pipeline.project.slug >>/deploy-group
          filters:
            branches:
              only:
                - main
      - release-go-api-service:
          requires:
            - deploy-api
          filters:
            branches:
              only:
                - main